<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NorthKingSys.jbf.cn.mapper.JbfProductMapper">
  <resultMap id="BaseResultMap" type="com.NorthKingSys.jbf.cn.domain.JbfProduct">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PROD_NO" jdbcType="VARCHAR" property="prodNo" />
    <result column="PROD_NAME" jdbcType="VARCHAR" property="prodName" />
    <result column="PROD_TYPE" jdbcType="VARCHAR" property="prodType" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PROD_NO, PROD_NAME, PROD_TYPE, START_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JBF_PRODUCT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from JBF_PRODUCT
    where PROD_NO = #{prodNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.NorthKingSys.jbf.cn.domain.JbfProduct">
    insert into JBF_PRODUCT (ID, PROD_NO, PROD_NAME,
      PROD_TYPE, START_TIME, STATUS
      )
    values (#{id,jdbcType=INTEGER}, #{prodNo,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR},
      #{prodType,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfProduct">
    insert into JBF_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="prodNo != null">
        PROD_NO,
      </if>
      <if test="prodName != null">
        PROD_NAME,
      </if>
      <if test="prodType != null">
        PROD_TYPE,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prodNo != null">
        #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfProduct">
    update JBF_PRODUCT
    <set>
      <if test="prodNo != null">
        PROD_NO = #{prodNo,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        PROD_NAME = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        PROD_TYPE = #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where PROD_NO = #{prodNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.NorthKingSys.jbf.cn.domain.JbfProduct">
    update JBF_PRODUCT
    set PROD_NO = #{prodNo,jdbcType=VARCHAR},
      PROD_NAME = #{prodName,jdbcType=VARCHAR},
      PROD_TYPE = #{prodType,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="getProductInfo" resultType="com.NorthKingSys.jbf.cn.biz.ProjectInfo">
    select
    <include refid="Base_Column_List" />
    from JBF_PRODUCT
    where  1=1
    <if test="prodname != null and prodname != ''">
      and  PROD_NAME = #{prodname,jdbcType=VARCHAR}
    </if>
    <if test="prodtype != null and prodtype != ''">
      and PROD_TYPE = #{prodtype,jdbcType=VARCHAR}
    </if>
    <if test="starttime != null">
      and  START_TIME = #{starttime,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status !=''">
      and STATUS = #{status,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getMaxCustNo" resultType="java.lang.String">
    SELECT a.PROD_NO from JBF_PRODUCT a where a.ID in (select MAX(ID) from JBF_PRODUCT)
  </select>

</mapper>