<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NorthKingSys.jbf.cn.mapper.JbfRequireInfoMapper">
  <resultMap id="BaseResultMap" type="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NUM_NO" jdbcType="VARCHAR" property="numNo" />
    <result column="REQUIRE_CUST" jdbcType="VARCHAR" property="requireCust" />
    <result column="PROJECT" jdbcType="VARCHAR" property="project" />
    <result column="POSITIONS" jdbcType="VARCHAR" property="position" />
    <result column="REQURE_NUM" jdbcType="VARCHAR" property="requreNum" />
    <result column="REQUEST" jdbcType="VARCHAR" property="request" />
    <result column="PRIORITY" jdbcType="VARCHAR" property="priority" />
    <result column="REQUEST_STATUS" jdbcType="VARCHAR" property="requestStatus" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NUM_NO, REQUIRE_CUST, PROJECT, POSITIONS, REQURE_NUM, REQUEST, PRIORITY, REQUEST_STATUS,
    CREAT_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JBF_REQUIRE_INFO
    where NUM_NO = #{numNo,jdbcType=VARCHAR}
  </select>

  <select id="selectRequireCustInfo" resultType="java.lang.String">
    select
    DISTINCT(REQUIRE_CUST)
    from JBF_REQUIRE_INFO
  </select>
  <select id="selectRequireByCustName" resultType="java.lang.String" parameterType="map">
    select
    DISTINCT(PROJECT)
    from JBF_REQUIRE_INFO
    where 1=1
    <if test="requreNum != null">
    REQUIRE_CUST = #{custName}
    </if>
  </select>
  <select id="selectRequireList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JBF_REQUIRE_INFO t
    WHERE 1=1
    AND REQUEST_STATUS='A'
    <if test="requireCust!= null">
      AND t.REQUIRE_CUST  = #{requireCust,jdbcType=VARCHAR}
    </if>
    <if test="project != null">
      AND t.PROJECT =  #{project,jdbcType=VARCHAR}
    </if>
    <if test="position != null">
      AND t.POSITIONS = #{position,jdbcType=VARCHAR}
    </if>
    <if test="priority != null">
      AND t.PRIORITY = #{priority,jdbcType=VARCHAR}
    </if>
  </select>
  <update id="updateStatusBynumNo" parameterType="java.lang.String">
    update JBF_REQUIRE_INFO
    set
    <if test="numNo != null">
    STATUS = #{status,jdbcType=VARCHAR},
    </if>
    where NUM_NO = #{numNo,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    insert into JBF_REQUIRE_INFO (ID, NUM_NO, REQUIRE_CUST,
      PROJECT, POSITIONS, REQURE_NUM,
      REQUEST, PRIORITY, REQUEST_STATUS,
      CREAT_TIME, STATUS)
    values (#{id,jdbcType=INTEGER}, #{numNo,jdbcType=VARCHAR}, #{requireCust,jdbcType=VARCHAR},
      #{project,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{requreNum,jdbcType=VARCHAR},
      #{request,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, #{requestStatus,jdbcType=VARCHAR},
      #{creatTime,jdbcType=DATE}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    insert into JBF_REQUIRE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="numNo != null">
        NUM_NO,
      </if>
      <if test="requireCust != null">
        REQUIRE_CUST,
      </if>
      <if test="project != null">
        PROJECT,
      </if>
      <if test="position != null">
        POSITIONS,
      </if>
      <if test="requreNum != null">
        REQURE_NUM,
      </if>
      <if test="request != null">
        REQUEST,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="requestStatus != null">
        REQUEST_STATUS,
      </if>
      <if test="creatTime != null">
        CREAT_TIME,
      </if>
      <if test="status != null">
        STATUS
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="numNo != null">
        #{numNo,jdbcType=VARCHAR},
      </if>
      <if test="requireCust != null">
        #{requireCust,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="requreNum != null">
        #{requreNum,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="requestStatus != null">
        #{requestStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    update JBF_REQUIRE_INFO
    <set>
      <if test="numNo != null">
        NUM_NO = #{numNo,jdbcType=VARCHAR},
      </if>
      <if test="requireCust != null">
        REQUIRE_CUST = #{requireCust,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        PROJECT = #{project,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITIONS = #{position,jdbcType=VARCHAR},
      </if>
      <if test="requreNum != null">
        REQURE_NUM = #{requreNum,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        REQUEST = #{request,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="requestStatus != null">
        REQUEST_STATUS = #{requestStatus,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        CREAT_TIME = #{creatTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where NUM_NO = #{numNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    update JBF_REQUIRE_INFO
    set NUM_NO = #{numNo,jdbcType=VARCHAR},
      REQUIRE_CUST = #{requireCust,jdbcType=VARCHAR},
      PROJECT = #{project,jdbcType=VARCHAR},
      POSITIONS = #{position,jdbcType=VARCHAR},
      REQURE_NUM = #{requreNum,jdbcType=VARCHAR},
      REQUEST = #{request,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      REQUEST_STATUS = #{requestStatus,jdbcType=VARCHAR},
      CREAT_TIME = #{creatTime,jdbcType=DATE}
    where where NUM_NO = #{numNo,jdbcType=VARCHAR}
  </update>

  <select id="getMaxRequireNo" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT a.NUM_NO from JBF_REQUIRE_INFO a where a.ID in (select MAX(ID) from JBF_REQUIRE_INFO)
  </select>
  <!--查询已经录入“需求信息”中的 “客户信息”-->
  <select id="selectRequireCustName" parameterType="java.lang.String" resultType="java.lang.String">
   select  DISTINCT a.REQUIRE_CUST
   from JBF_REQUIRE_INFO a where a.REQUEST_STATUS = 'A'
  </select>
  <!--查询已经录入“需求信息”中的 “项目信息”-->
  <select id="selectRequireProject" parameterType="map" resultType="java.lang.String">
   select  a.PROJECT
   from JBF_REQUIRE_INFO a
   where a.REQUEST_STATUS = 'A'
   and REQUIRE_CUST = #{requireCust,jdbcType=VARCHAR}
  </select>


</mapper>