<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NorthKingSys.jbf.cn.mapper.JbfRequireInfoMapper">
  <resultMap id="BaseResultMap" type="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NUM_NO" jdbcType="VARCHAR" property="number" />
    <result column="REQUIRE_CUST" jdbcType="VARCHAR" property="requireCust" />
    <result column="PROJECT" jdbcType="VARCHAR" property="project" />
    <result column="POSITIONS" jdbcType="VARCHAR" property="position" />
    <result column="REQURE_NUM" jdbcType="VARCHAR" property="requreNum" />
    <result column="REQUEST" jdbcType="VARCHAR" property="request" />
    <result column="PRIORITY" jdbcType="VARCHAR" property="priority" />
    <result column="STUTAS" jdbcType="VARCHAR" property="stutas" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NUM_NO, REQUIRE_CUST, PROJECT, POSITIONS, REQURE_NUM, REQUEST, PRIORITY, STUTAS,
    CREAT_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JBF_REQUIRE_INFO
    where NUM_NO = #{number,jdbcType=VARCHAR}
  </select>

  <select id="selectRequireCustInfo" resultType="java.lang.String">
    select
    DISTINCT(REQUIRE_CUST)
    from JBF_REQUIRE_INFO
  </select>
  <select id="selectRequireByCustName" resultType="java.lang.String" parameterType="map">
    select
    DISTINCT(PROJECT)
    from JBF_REQUIRE_INFO
    where 1=1
    <if test="requreNum != null">
    REQUIRE_CUST = #{custName}
    </if>
  </select>
  <select id="selectRequireList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from JBF_REQUIRE_INFO t WHERE 1=1
    <if test="requireCust!= null">
      AND t.REQUIRE_CUST like '%${requireCust}%'
    </if>
    <if test="project != null">
      AND t.PROJECT like '%${project}%'
    </if>
    <if test="position != null">
      AND t.POSITIONS like '%${position}%'
    </if>
    <if test="requreNum != null">
      AND t.REQURE_NUM = #{requreNum}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from JBF_REQUIRE_INFO
    where NUM_NO = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    insert into JBF_REQUIRE_INFO (ID, NUM_NO, REQUIRE_CUST,
      PROJECT, POSITIONS, REQURE_NUM,
      REQUEST, PRIORITY, STUTAS,
      CREAT_TIME)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{requireCust,jdbcType=VARCHAR},
      #{project,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{requreNum,jdbcType=VARCHAR},
      #{request,jdbcType=VARCHAR}, #{priority,jdbcType=VARCHAR}, #{stutas,jdbcType=VARCHAR},
      #{creatTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    insert into JBF_REQUIRE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="number != null">
        NUM_NO,
      </if>
      <if test="requireCust != null">
        REQUIRE_CUST,
      </if>
      <if test="project != null">
        PROJECT,
      </if>
      <if test="position != null">
        POSITIONS,
      </if>
      <if test="requreNum != null">
        REQURE_NUM,
      </if>
      <if test="request != null">
        REQUEST,
      </if>
      <if test="priority != null">
        PRIORITY,
      </if>
      <if test="stutas != null">
        STUTAS,
      </if>
      <if test="creatTime != null">
        CREAT_TIME
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="requireCust != null">
        #{requireCust,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="requreNum != null">
        #{requreNum,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="stutas != null">
        #{stutas,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    update JBF_REQUIRE_INFO
    <set>
      <if test="number != null">
        NUM_NO = #{number,jdbcType=VARCHAR},
      </if>
      <if test="requireCust != null">
        REQUIRE_CUST = #{requireCust,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        PROJECT = #{project,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITIONS = #{position,jdbcType=VARCHAR},
      </if>
      <if test="requreNum != null">
        REQURE_NUM = #{requreNum,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        REQUEST = #{request,jdbcType=VARCHAR},
      </if>
      <if test="priority != null">
        PRIORITY = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="stutas != null">
        STUTAS = #{stutas,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        CREAT_TIME = #{creatTime,jdbcType=DATE}
      </if>
    </set>
    where NUM_NO = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.NorthKingSys.jbf.cn.domain.JbfRequireInfo">
    update JBF_REQUIRE_INFO
    set NUM_NO = #{number,jdbcType=VARCHAR},
      REQUIRE_CUST = #{requireCust,jdbcType=VARCHAR},
      PROJECT = #{project,jdbcType=VARCHAR},
      POSITIONS = #{position,jdbcType=VARCHAR},
      REQURE_NUM = #{requreNum,jdbcType=VARCHAR},
      REQUEST = #{request,jdbcType=VARCHAR},
      PRIORITY = #{priority,jdbcType=VARCHAR},
      STUTAS = #{stutas,jdbcType=VARCHAR},
      CREAT_TIME = #{creatTime,jdbcType=DATE}
    where where NUM_NO = #{number,jdbcType=VARCHAR}
  </update>
</mapper>